@font-face {
  font-family: 'KNPSKkomi-Regular00';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  body {
    background-color: #F2EFEB;
    margin: 0;
    text-align: center;
    font-family: 'KNPSKkomi-Regular00';
  }
  
  .main {
    width: 500px;
    height: 120vh;
    margin: 0 auto;
  }
  
  .main-title {
    width: 492;
    height: 282px;
    margin-top: -15px;
    margin-left: 20px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .main-unkki {
    width: 548px;
    height: 548px;
    margin-top: -65px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .main-exp {
    top: 787px;
    left: 802px;
    font-size: 18px;
    text-align: center;
    color: #707070;
  }
  
  .buttons{
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  
  .button-show {
    display: inline-flex;
    align-items: center;
    justify-content : center;
    top: 845px;
    left: 802px;
    width: 110px;
    height: 45px;
    margin-right: 40px;
    background: #BF463B 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  .button-show-text {
    width: 64px;
    height: 29px;
    padding-bottom: 5px;
    font-family: 'KNPSKkomi-Regular00';
    font-size: 25px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  .button-create {
    display: inline-flex;
    align-items: center;
    justify-content : center;
    top: 845px;
    left: 1026px;
    width: 92px;
    height: 45px;
    margin-left: 40px;
    background: #BF463B 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  .button-create-text{
    width: 46px;
    height: 29px;
    padding-bottom: 5px;
    font-family: 'KNPSKkomi-Regular00';
    font-size: 25px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  .click-post {
    cursor: pointer;
  }



@media all and (max-width: 768px) {
  body {
    background-color: #F2EFEB;
    margin: 0;
    text-align: center;
    font-family: 'KNPSKkomi-Regular00';
  }
  
  .main {
    width: 100%;
  }
  
  .main-title {
    width: 100%;
    height: 100%;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;

  }
  
  .main-unkki {
    width: 450px;
    height: 450px;
    margin-top: -30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 10px;
  }
  
  .main-exp {
    top: 787px;
    left: 802px;
    font-size: 18px;
    text-align: center;
    color: #707070;
  }
  
  .buttons{
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  
  .button-show {
    display: inline-flex;
    align-items: center;
    justify-content : center;
    top: 845px;
    left: 802px;
    width: 110px;
    height: 45px;
    margin-right: 40px;
    background: #BF463B 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  .button-show-text {
    width: 64px;
    height: 29px;
    padding-bottom: 5px;
    font-family: 'KNPSKkomi-Regular00';
    font-size: 25px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  .button-create {
    display: inline-flex;
    align-items: center;
    justify-content : center;
    top: 845px;
    left: 1026px;
    width: 92px;
    height: 45px;
    margin-left: 40px;
    background: #BF463B 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  .button-create-text{
    width: 46px;
    height: 29px;
    padding-bottom: 5px;
    font-family: 'KNPSKkomi-Regular00';
    font-size: 25px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  .click-post {
    cursor: pointer;
  }
}
